<div class="columns is-mobile is-centered">
  <div class="column is-11">
    <div class="card profile mt-6">
      {{> user/card_header profile}}
      <div class="level">
        {{#if (owns_resource session user)}}
        <div class="level-left">
          {{/if}} {{! autoformatter is getting the indent level wrong here}}
          <div class="level-item tabs is-boxed">
            <ul>
              {{#if profile.github}}
              <li>
                <a href="https://github.com/{{profile.github}}">Github</a>
              </li>
              {{/if}}
              {{#if profile.linkedIn}}
              <li>
                <a href="https://linkedin.com/{{profile.linkedIn}}">LinkedIn</a>
              </li>
              {{/if}}
              {{#if profile.portfolio}}
              <li>
                <a href="{{profile.portfolio}}">Portfolio</a>
              </li>
              {{/if}}
              {{#if profile.website}}
              <li>
                <a href="{{profile.website}}">Website</a>
              </li>
              {{/if}}
              {{#if profile.resume}}
              <li>
                <a href="{{profile.resume}}">Resume</a>
              </li>
              {{/if}}
            </ul>
          </div>
          {{#if (owns_resource session user)}} {{! autoformatter is getting the indent level wrong here}}
        </div>
        <div class="level-right">
          <a class="button" href="/user/profile/edit">Edit</a>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>